*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --bg-by:#e8c39e;
    --bg-card:#9e6730;
    --bg-title:#804000;
    --cor-principal: #8a620b;
    --cor-secundaria: #885f06;
    --cor-destaque: #804000;
    --cor-fundo: #f0a459;
    --cor-texto: #0a0a0a;
    --cor-branco: #ffffff;
}
body{
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    background-color: var(--bg-by);
}
.kev{
  


.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    overflow: hidden;
    justify-content: center;
    .card{
    display: flex;
    flex-direction: column;
    background-color:none;
    border-radius: 15px;
    padding: 1rem;
    width: 25vw;
    margin: 20px;
    transition: 1s;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    img{
        height: auto;
    }}
    
}
.card p{
        font-size: 1.2rem;
        margin: 0.5rem 0;

    }
.card:hover{
        transform: scale(1.05);
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
.fundo{
    background: linear-gradient(135deg , var(--bg-by),var(--bg-card));
}
.carousel {
    position: relative;
    overflow: hidden;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.2s ease;
  will-change: transform;
}
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
    z-index: 10;
}

button.prev:hover,
button.next:hover {
    background: rgba(0,0,0,0.7);
}

button.prev {
    left: 5px;
}

button.next {
    right: 5px;
}
.titulo{
    margin-top: 20px;
 }
.titulo h1{
    font-size: 2rem;
    color: black;
    margin: 0;
}
.titulo p{
    font-size: 1rem;
    color: black;
    margin: 0;
}
}

.menu-topo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
}

.logo img {
  height: 250px;
}

.menu-links ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.menu-links ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-links ul li a:hover {
  color: #cf975f;
}

.redes-sociais {
  display: flex;
  gap: 40px; /* aumenta o espaço entre os ícones */
  align-items: center;
}

.redes-sociais a img {
  height: 25px;
  transition: transform 0.2s;
}


.redes-sociais a img:hover {
  transform: scale(1.1);
}

/* Espaço abaixo do menu fixo */
.conteudo {
  margin-top: 90px;
  padding: 20px;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 70px; /* distância do menu fixo */
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.seta:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.seta.esquerda {
  left: 10px;
}

.seta.direita {
  right: 10px;
}


.carrossel {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
  margin-top: 70px;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.submenu {
  position: relative;
}

.submenu-linha {
  display: none;
  position: absolute;
  top: 100%; /* encosta a caixinha logo abaixo do texto "Serviços" */
  left: 0;
  background-color: #444;
  padding: 10px 0;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  flex-direction: column;
}

/* Garante que a caixinha fique visível ao passar o mouse sobre o item ou a caixa */
.submenu:hover .submenu-linha,
.submenu-linha:hover {
  display: flex;
}

/* Estilo dos links na caixinha */
.submenu-linha a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submenu-linha a:hover {
  background-color: #666;
}

.rodape {
  background-color: #333;
  color: white;
  padding: 0; /* reduzido o topo */
  width: 100%;
}

.rodape-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.rodape-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 0;      /* Remove espaço externo */
  padding-top: 0;     /* Remove espaço interno */
  transform: translateX(-200px);
  a{
    transform: translateY(-100px);
  }
}

.logo-rodape {
  width: 300px;
  margin-top: 0;         /* Garante que não há margem externa acima */
  padding-top: 0;        /* Garante que não há espaço interno acima */
  display: block;        /* Elimina comportamento inline que pode causar espaços extras */
}

.redes-sociais {
  display: flex;
  gap: 50px;
}


.redes-sociais a img {
  width: 30px;
  transition: transform 0.2s;
}

.redes-sociais a img:hover {
  transform: scale(1.1);
}

.info p {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
}

.icone-whats {
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.rodape-direita {
  display: flex;
  align-items: center;
  transform: translateX(200px);
}

.logo-rodape-direita {
  width: 350px;
}

/* Responsivo */
@media (max-width: 768px) {
  .rodape-conteudo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rodape-direita {
    margin-top: 0px;
  }
}
.info h1{
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}



.dri{
  p{
    margin-bottom: 20px;
    font-size: 17px;
  }
  h2{
    font-size: 28px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  h1, h2 {
    color: #804000;
  }
  .dot.active{
  background-color: #804000;
  border: #ffffff solid 1px;
  }
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #9e6730;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  .dots {/*as bolinhas abaixo do slide*/
  margin-top: 20px;
  }
  .slide.active {
  opacity: 1;
  z-index: 1;
  }
  .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;/* <- mostra tudo, sem cortar */
  background-color: #eaccad; /* fundo atrás da imagem */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
  }
  .galeria {
  padding: 10px 0 30px 0; 
  background-color: #eaccad;
  text-align: center;
  }
  .galeria h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #804000;
  }
  .slider {
    max-width: 700px;
    margin: auto;
    position: relative;
  }
  .slide-container {
    position: relative;
    height: 400px;
  }
  .containerdri {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;/*alterei aqui e dimunuiu o espço entre so botoes*/
}

.Sobre  {
  padding: 30px 0;
}

.section.light {
  background-color: #eaccad;
}
.toggle-btn {
  width: 500px;
  background-color: #804000;
  color: #eaccad;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-align: center; /* centraliza o texto */
  margin: 0 auto; /* centraliza o botão */
  display: block; /* necessário para aplicar auto horizontal */
  transition: background 0.3s, transform 0.2s;
  border-radius: 6px;
}
.toggle-btn:hover {
  background-color: #9e6730;
  transform: scale(1.02);
  }
.content {
    display: none;
    padding: 10px 0 30px 0;
    padding-left: 15px;
    animation: fadeIn 0.4s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
  }
}
.Mathes{
  header{
    text-align: center;
    padding: 30px 20px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
  }

  header .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  header h1 {
    font-size: 2.5em;
    margin: 0;
  }

  header p {
    font-size: 1.2em;
    margin: 10px 0 0 0;
  }

  /* Estilos dos Cards */
  .event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
  }

  .event-card {
    width: 300px;
    background-color: var(--cor-branco);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .event-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--cor-destaque);
  }

  .event-card h2 {
    margin: 20px;
    color: var(--cor-destaque);
    font-size: 1.8em;
  }

  .event-card p {
    margin: 0 20px 20px 20px;
    color: var(--cor-texto);
    text-align: justify;
    hyphens: auto;
  }

  /* Galeria de Fotos */
  .photo-gallery {
    background-color: var(--cor-branco);
    padding: 40px 20px;
    text-align: center;
  }

  .photo-gallery h2 {
    margin-bottom: 20px;
    color: var(--cor-destaque);
    font-size: 2em;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .gallery img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .gallery img:hover {
    transform: scale(1.05);
  }

  /* Modal de Detalhes */
  #event-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 253, 253, 0.8);
    color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
  }

  #event-details.hidden {
    display: none;
  }

  #details-content {
    background-color: var(--cor-principal);
    padding: 40px;
    border-radius: 12px;
    max-width: 500px;
    text-align: center;
  }

  #event-details button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--cor-branco);
    font-size: 1.5em;
    cursor: pointer;
  }

  footer {
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 30px;
    color: var(--cor-texto);
  }

  /* Estilo do Vídeo */
  .video-section {
    text-align: center;
    margin-bottom: 2rem;
  }

  .video-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }

  /* Moldura ao vídeo */
  .video-container {
    width: fit-content;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    border: 8px solid var(--cor-destaque);
  }

  /* Ajuste do vídeo */
  .video-container video {
    width: auto;
    max-width: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 0.8rem;
  }

  /* Centralizar conteúdo da seção diferenciais e adicionar imagem de fundo */
  .diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;

    background-image: url('img/fundo\ diferenciais\ 6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Estilo com borda preta em texto branco */
  .diferenciais h2,
  .diferenciais p {
    color: var(--cor-branco);
    background-color: hsla(34, 77%, 55%, 0.7);
    padding: 0.15rem 3rem;
    border-radius: 10px;
    max-width: 46%;
    font-weight: bold;
    text-align: justify;
    hyphens: auto;
  }

  h2 {
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  p {
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-align: justify;
    hyphens: auto;
  }
}
.Mathdi{
  header {
  text-align: center;
  padding: 30px 20px;
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  }

  header .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  header h1 {
    font-size: 2.5em;
    margin: 0;
  }

  header p {
    font-size: 1.2em;
    margin: 10px 0 0 0;
  }

  /* Modal de Detalhes */
  #event-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 253, 253, 0.8);
    color: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
  }

  #event-details.hidden {
    display: none;
  }

  #details-content {
    background-color: var(--cor-principal);
    padding: 40px;
    border-radius: 12px;
    max-width: 500px;
    text-align: center;
  }

  #event-details button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--cor-branco);
    font-size: 1.5em;
    cursor: pointer;
  }

  footer {
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 30px;
    color: var(--cor-texto);
  }



  /* Centralizar conteúdo da seção diferenciais e adicionar imagem de fundo */
  .diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;

    background-image: url('img/fundo\ diferenciais\ 6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Estilo com borda preta em texto branco */
  .diferenciais h2,
  .diferenciais p {
    color: var(--cor-branco);
    background-color: hsla(34, 77%, 55%, 0.7);
    padding: 0.15rem 3rem;
    border-radius: 10px;
    max-width: 46%;
    font-weight: bold;
    text-align: justify;
    hyphens: auto;
  }

  h2 {
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  p {
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-align: justify;
    hyphens: auto;
  }
}