*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
:root{
    --bg-by:#9e6730;
    --bg-card:#e8c39e;
    --bg-title:#804000;
}

.container{
    display: flex;
    flex-direction: row;
    width: 67%;
    overflow: hidden;
    justify-content: center;
    .card{
    background-color: var(--bg-card);
    border-radius: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    margin: 1rem;
    width: 175px;
    height: 475px;
    p{
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    img{
        width: 45%;
        height: auto;
        border-radius: 15px;
    }}
    
}
.fundo{
    background-color: var(--bg-by);
}
.carousel {
    position: relative;
    overflow: hidden;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.2s ease;
  will-change: transform;
}
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
    z-index: 10;
}

button.prev:hover,
button.next:hover {
    background: rgba(0,0,0,0.7);
}

button.prev {
    left: 5px;
}

button.next {
    right: 5px;
}
.titulo{
    width: 75%;
    background-color: var(--bg-title);
    border-radius: 20px;
}
.titulo h1{
    font-size: 3rem;
    color: var(--bg-card);
    justify-items: center;
}